BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

ColumnLimit: 100

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true

SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpacesInAngles: false
SpacesInParentheses: false

PointerAlignment: Left
DerivePointerAlignment: false

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^".*"'
    Priority: 2

# NOTE: clang-format 18.1.3 does NOT recognize BreakTemplateDeclarations (and some builds don't have
# AlwaysBreakTemplateDeclarations either). Keep templates readable via the rest of the wrapping rules.

ReflowComments: true
CommentPragmas: '^ IWYU pragma:'

NamespaceIndentation: Inner
FixNamespaceComments: true
CompactNamespaces: false

IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: false

Cpp11BracedListStyle: true
MaxEmptyLinesToKeep: 1
